/* Google font import - Karla font */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

html, body {
    height: auto;
    padding: 0;
    margin: 3% 10%;
    /* overflow: hidden; */
}

#error {
    text-align: center;
    font-size: 1.2vw;
}

/* Removing Chrome autofill color for the input field */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

/* Removing the focus when clicking the input field */
input, textarea, select, a { outline: none; }

.submit-btn {
    display: none;
}

/* Styling the searchbar and form*/
.searchbar {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    padding: 1vw;
    border: 1px solid #ddd;
    width: 50vw;
    color: #666666;
    padding-left: 4vw;
    font-size: 2vw;
    background-color: white
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

form .search {
    position: absolute;
    top: 32%;
    left: 9.1%;
    height: 1.8vw;
}

/* Styles for the scraped content (title, duration, plot etc) */
.title {
    font-weight: bold;
    font-size: 3vw;
}

.release {
    font-size: 2vw;
}

/* CSS GRID container showing results*/
.result1, .result2 {
    display: none;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: .5fr .2fr 1fr .3fr;
    grid-template-areas: 
    "img    title      title"
    "img    release1   release1"
    "img    plot       plot"
    "img    imdb       download";

    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 5%;
    margin-top: 3%;

    position: relative;

    grid-gap: 10px 50px;
  }

  .download-animation1, .download-animation2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
    height: 50px;
    width: 300px;
    background-color: #B3CBF3;
    color: #095BE6;
    border-radius: 8px;
    opacity: 1;
    padding: 4%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  img {
      height: 350px;
      border-radius: 8px;
  }

  p#title1, p#release1, p#title2, p#release2 {
      margin: 0;
  }

  .imdb_btn {
      height: auto;
      width: 100%;
      padding: .7vw;
      background-color: #F4DD4F;
      border-radius: 5px;
      text-align: center;
  }

  .imdb, .download {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
      text-decoration: none;
      color: #FFFFFF;
      cursor: pointer;
  }

  .download_btn {
      height: auto;
      width: 100%;
      padding: .7vw;
      background-color: #095BE6;
      text-align: center;
      border-radius: 5px;
      transition: .3s all ease-in-out;
  }

  .download_btn:hover {
      opacity: .7;
      transition: .3s all ease-in-out;
  }

  /* Centering the contents with flexbox */
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title, .duration, .plot {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .plot {
      color: #666;
  }
  
  /* Setting up grid-area's for convenience (debugging and responsive design) */
  .title { grid-area: title; }
  
  .img { grid-area: img; }
  
  .duration { grid-area: duration; }
  
  .plot { grid-area: plot; }
  
  .imdb { grid-area: imdb; }
  
  .download { grid-area: download; }

  /* Mobile view */
  @media only screen and (max-width: 750px) {

    html, body {
        height: auto;
        padding: 0;
        margin: 3% 2%;
        /* overflow: hidden; */
        overflow-x: hidden;
        max-width: 100%;
    }

    .searchbar {
        width: 80%;
        padding-left: 8vw;
        font-size: 4vw;
    }

    form .search {
        position: absolute;
        top: 34%;
        left: 9.1%;
        height: 3.3vw;
    }

    .result1, .result2 {
        grid-template-columns: 1fr .8fr;
        grid-template-rows: .1fr .05fr auto .2fr 1fr;
        grid-template-areas: 
        "title       title"
        "release1    release1"
        "plot        plot"
        "imdb        download"
        "img         img";
        padding: 5%;
        margin-top: 5%;
        grid-gap: 10px 50px;
      }

      .title {
        font-size: 7vw;
    }
    
    .release {
        font-size: 7vw;
    }

    #plot1, #plot2 {
        margin: 0;
    }

    .imdb_btn {
        height: auto;
        width: 100%;
        padding: 1.5vw;
    }

    .download_btn {
        height: auto;
        width: 100%;
        padding: 1vw;
    }

  }